POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=hitalent
DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DB_URL}
GOOSE_MIGRATION_DIR=./internal/db/migrations
GOOSE_TABLE=public.schema_migrations